.Playlist {
    display: inline-flex;
    justify-content: left;
    justify-items: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
}

.imgFiller {
    width: 100px;
    height: 100px;
}

.title {
    padding-left: 1rem;
}

img {
    width: 100px;
    height: 100px;
}

.PlaylistList:last-child {
    margin-left: auto;
}

.button {
    display: inline-flex;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button button {
    width: 35px;
    height: 35px;
}
